*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
    padding:1rem 0;
    background-color: #00000042;
    backdrop-filter: blur(0.5rem);
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem #202020dc;
    border-bottom: .1rem solid #ffff;
    position: fixed;
    right: 0;left: 0;top: 0;
    z-index: 1;
}
header h1{
    color: #ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}
.image-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
img{
    flex:10 1 200px;
}